h1 {
  font-family: Montserrat, Helvetica;
  text-align: center;
}
h2 {
  font-family: Montserrat, Helvetica;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

form {
  border-radius: 1.5rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

input,
textarea {
  margin: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
}
